body {
  background-color: #d3d3d3;
  width: 90%;
  margin: auto;
}

#index-body {
  background-image: url("img/index-cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: #25928d;
  color: #dddddd;
  margin-bottom: 5px;
  padding: 10px 20px;
  /* border-radius: 3%; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  opacity: .7;
}

.header {
  display: inline-block;
}

.title {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 0;
}

i:hover {
  color: #AEC6CF;
  transition: 0.4s;
  cursor: pointer;
}

i {
  color: black;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

.current-item {
  color:#5988c5;
  text-decoration: overline;
}

.bar-item {
  padding: 0 20px;
  color: #25928d;
}

.bar-item:hover {
  color: #5988c5;
  text-decoration: overline;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  border: 10px solid #25928dc1;
  border-radius: 60%;
  width: 60%;
  margin: auto;
}

img {
  width: 50%;
  height: auto;
}

.row {
  clear: both;
}

.col {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#25928d;
}

span {
  color:#25928d;
}

li {
  font-size: 18px;
  color: #5988c5;
}

dt.col-sm-3:hover a {
  color:#f1b825;
  text-decoration: none;
}

.proj-list {
  color:#25928d;
}

dd {
  color: #5988c5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.d-block {
  border-radius: 50%;
  width: 40%;
  height: auto;
  border: solid 3px #25928d;
  display: block;
}
