body {
  background-color: #d3d3d3;
}

.jumbotron {
  background-color: #25928d;
  color: #dddddd;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
  font-size: 18px;
}

.nav-bar {
  float: left;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

.bar-item {
  padding: 0 40px;
  color: #25928d;
}

.bar-item:hover {
  color: #f1b825;
  text-decoration: none;
}

.img-container {
  border-radius: 60%;
  display: block;
  width: 75%;
  height: auto;
  border: solid 3px #25928d;
}

.top-left-img {
  width: 60%;
  height: auto;
  margin: 0;
  display: inline-block;
}

.top-right-img {
  width: 60%;
  height: auto;
  display: inline-block;
}

.bottom-img {
  width: 60%;
  height: auto;
  margin: 0;
}

.photo-container {
  
}

.row {
  clear: both;
}

.col {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#25928d;
}

span {
  color:#25928d;
}

li {
  font-size: 18px;
  color: #5988c5;
}

dt.col-sm-3:hover a {
  color:#f1b825;
  text-decoration: none;
}

.proj-list {
  color:#25928d;
}

dd {
  color: #5988c5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.d-block {
  border-radius: 50%;
  width: 40%;
  height: auto;
  border: solid 3px #25928d;
  display: block;
}

.carousel {
  width: 50%;
  height: auto;
  clear: both;
}